* {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

main .vehiculos {
  background-color: rgba(31, 0, 0, 0.862); }
  main .vehiculos h2 {
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Body-Font";
    padding: 25px; }
  main .vehiculos .vehiculos-contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white; }
    main .vehiculos .vehiculos-contenedor .vehiculos {
      background-color: black;
      width: 700px;
      height: auto;
      text-align: center;
      font-size: 25px;
      font-family: "Body-Font";
      margin: 60px;
      padding: 10px; }
      main .vehiculos .vehiculos-contenedor .vehiculos img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        margin-bottom: 10px; }
      main .vehiculos .vehiculos-contenedor .vehiculos p {
        margin: 5px 0;
        color: white; }
      main .vehiculos .vehiculos-contenedor .vehiculos .price {
        font-size: 18px;
        margin: 10px 0;
        color: white; }
      main .vehiculos .vehiculos-contenedor .vehiculos button {
        padding: 7px 10px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        margin-top: 10px; }

.servicio1 h1 {
  background-image: url("../img/Ferrari fabrica exterior.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  height: 500px;
  font-size: 55px;
  color: #000000;
  font-family: "Body-Font";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }

.grid-general {
  background-color: #d6b484;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px; }
  .grid-general .grid-item1,
  .grid-general .grid-item2,
  .grid-general .grid-item3,
  .grid-general .grid-item4,
  .grid-general .grid-item5 {
    display: grid;
    grid-row-gap: 15px;
    background-color: #fff7e7;
    padding: 100px; }
    .grid-general .grid-item1 h2,
    .grid-general .grid-item2 h2,
    .grid-general .grid-item3 h2,
    .grid-general .grid-item4 h2,
    .grid-general .grid-item5 h2 {
      font-size: 30px;
      color: black;
      font-family: "Body-Font";
      font-weight: bold; }
    .grid-general .grid-item1 p,
    .grid-general .grid-item2 p,
    .grid-general .grid-item3 p,
    .grid-general .grid-item4 p,
    .grid-general .grid-item5 p {
      font-size: 20px;
      color: black;
      font-family: "Body-Font";
      display: flex;
      justify-content: center;
      align-items: center; }
    .grid-general .grid-item1 img,
    .grid-general .grid-item2 img,
    .grid-general .grid-item3 img,
    .grid-general .grid-item4 img,
    .grid-general .grid-item5 img {
      width: 100%;
      margin: 10px; }
  .grid-general .grid-item5 {
    justify-items: center;
    font-size: 20px;
    color: black;
    font-family: "Body-Font";
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3; }
    .grid-general .grid-item5 img {
      width: 700px;
      display: block;
      margin: 0 auto; }

.ferrari-section {
  width: 100%;
  background-color: #d6bc81;
  padding: 20px;
  font-family: "Body-Font";
  color: black; }
  .ferrari-section h2 {
    font: bold 2rem black;
    margin: 20px 0;
    border-bottom: 2px solid #d6b484; }
  .ferrari-section p {
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: justify; }
  .ferrari-section img {
    width: 40%;
    margin: 60px auto;
    display: block;
    border: 3px solid #d6b484;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  .ferrari-section nav {
    width: 100%;
    margin: 0 auto;
    background-color: #fff7e7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

main form {
  padding: 3%; }

header {
  position: sticky;
  top: 0; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%; }

.container-fluid {
  height: 80px; }

.navbar-brand img {
  width: 120px; }

.bg-menu {
  background-color: black; }

.navbar-nav .nav-link {
  color: white; }
  .navbar-nav .nav-link:hover {
    color: red; }
  .navbar-nav .nav-link.active {
    color: white; }

button.btn-outline-success {
  color: white;
  background-color: #880a0a !important;
  border: #880a0a; }

/* INDEX */
.titulo1, .titulo2 {
  font-family: "Body-Font";
  margin: 0; }

.titulo1 {
  font-size: 120px;
  font-weight: bold;
  height: 750px; }

.titulo2 {
  font-size: 25px;
  color: black;
  height: 200px; }

.hero h2 {
  text-align: center;
  padding: 5px;
  background: url("../img/Ferrari Enzo abierta.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

section h3, section h4 {
  font-size: 30px;
  font-family: "Body-Font";
  color: black;
  margin: 30px; }

section p {
  font-size: 19px;
  font-family: "Body-Font";
  color: black;
  margin: 50px; }

section .ferrari1, section .ferrari2, section .ferrari3, section .ferrari4, section .ferrari5 {
  background-color: #880a0a;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 20px; }

section .ferrari1 {
  flex-direction: column;
  height: 600px; }
  section .ferrari1 img {
    width: 800px; }

section .ferrari2 img, section .ferrari3 img, section .ferrari4 img {
  width: 700px;
  height: 300px;
  margin: 20px; }

section .ferrari5 {
  justify-content: space-around;
  padding: 100px;
  height: 800px; }

.fixed {
  position: fixed;
  bottom: 10px;
  right: 20px; }
  .fixed img {
    width: 60px; }

footer.pie {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 30px; }
  footer.pie a img {
    width: 70px;
    padding: 15px; }
  footer.pie .redes {
    font-size: 20px;
    margin: 20px; }
  footer.pie div {
    display: flex;
    justify-content: center; }
    footer.pie div img {
      width: 22px;
      height: 19px;
      margin-right: 5px; }
    footer.pie div a {
      display: flex;
      align-items: center;
      margin: 10px; }

@media (max-width: 400px) {
  .titulo1 {
    font-size: 80px !important; }
  .titulo2 {
    font-size: 20px; }
  .ferrari1 img {
    width: 100%; }
  .ferrari2 img, .ferrari3 img, .ferrari4 img {
    width: 100%;
    height: auto; }
  .vehiculos .vehiculos-contenedor div {
    width: 90%;
    height: auto; }
  .grid-general {
    grid-template-columns: 1fr; }
  .ferrari5 {
    flex-direction: column;
    padding: 50px; }
  footer a img {
    width: 50px; } }
