/* INDEX */

$font-family: "Body-Font";
$background-color: #880a0a;
$black-color: black;

.titulo1, .titulo2{
    font-family: $font-family;
    margin: 0;
}

.titulo1{
    font-size: 120px;
    font-weight: bold;
    height: 750px;
}

.titulo2{
    font-size: 25px;
    color: $black-color;
    height: 200px;
}

.hero h2{
    text-align: center;
    padding: 5px;
    background: url("../img/Ferrari Enzo abierta.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section{
    h3, h4{
        font-size: 30px;
        font-family: $font-family;
        color: $black-color;
        margin: 30px;
    }

    p{
        font-size: 19px;
        font-family: $font-family;
        color: $black-color;
        margin: 50px;
    }

    .ferrari1, .ferrari2, .ferrari3, .ferrari4, .ferrari5{
        background-color: $background-color;
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .ferrari1{
        flex-direction: column;
        height: 600px;

        img{
            width: 800px;
        }
    }

    .ferrari2, .ferrari3, .ferrari4{
        img{
            width: 700px;
            height: 300px;
            margin: 20px;
        }
    }

    .ferrari5{
        justify-content: space-around;
        padding: 100px;
        height: 800px;
    }
}

.fixed{
    position: fixed;
    bottom: 10px;
    right: 20px;

    img{
        width: 60px;
    }
}